<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <description>config object</description>
  

 <servlet>
    <servlet-name>Wel</servlet-name>
    <servlet-class>Welcome</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>Wel</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>PersonalWelcome</servlet-name>
    <servlet-class>PersonalWelcome</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>PersonalWelcome</servlet-name>
    <url-pattern>/PersonalWelcome</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>Label</servlet-name>
    <servlet-class>Label</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>Label</servlet-name>
    <url-pattern>/Label</url-pattern>
  </servlet-mapping>

</web-app>
